.logo-base {
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
	overflow: hidden;
	background-color: #00838f;
	background: linear-gradient(#00838f 25%, #00bcd4 50%, #00838f 75%);
	
    & > span:nth-child(1) {
        position: absolute;
        top: 11%;
        left: 11%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        z-index: 1;
        border-radius: 50%;
        width: 78%;
        height: 78%;
		overflow: hidden;
		background-color: #ad1457;
        background: linear-gradient(to right,#ad1457 25%, #e91e63 50%, #ad1457 75%);

        & span:nth-child(1) {
            position: absolute;
            top: 14%;
            left: 14%;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 72%;
            height: 72%;
            border-radius: 50%;
            font-size: 38px;
            font-weight: bold;
			color: #d81b60;
			background-color: #00838f;
            // background: linear-gradient(#006064 25%, #00bcd4 50%, #006064 75%);
             &::before {
                             content: "S";
             }
        }
        & span:nth-child(2) {
            position: absolute;
            top: 27.5%;
            left: -5%;
            width: 110%;
			height: 45%;
			background-color: #00838f;
			background: linear-gradient(to right, #006064 25%, #00bcd4 50%, #006064 75%);
            animation: rotateL 15s linear infinite;
            // transform: rotateZ(180deg);
        }
    }
    & span:nth-child(2) {
        position: absolute;
        width: 110%;
		height: 40%;
        background-color: #ad1457;
        // transform: rotateZ(90deg);
        animation: rotateR 9s linear infinite;
    }

}

.logo-static {
    & > span:nth-child(1) {
        & span:nth-child(2) {
            animation: none;
            transform: rotateZ(180deg);
        }
    }
    & span:nth-child(2) {
        transform: rotateZ(90deg);
        animation: none;
    }
}

.logo-x-small {
    width: 45px;
    height: 45px;
	
    & > span:nth-child(1) {

        & span:nth-child(1) {
            font-size: 30px;
        }
    }
}

.logo-small {
    width: 54px;
    height: 54px;
	
    & > span:nth-child(1) {

        & span:nth-child(1) {
            font-size: 26px;
        }
    }
}

.logo-large {
    width: 120px;
    height: 120px;

    & > span:nth-child(1) {

        & span:nth-child(1) {
            font-size: 85px;
        }
    }
}

.logo-trans-1::after, .logo-trans-2::after {
    content: "";
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
}	
.logo-trans-1::after {
    background-color: rgba(72, 72, 72, 0.2)
}	
.logo-trans-2::after {
    background-color: rgba(72, 72, 72, 0.55)
}	

.logo-fast {
    & span:nth-child(2) {
        animation: rotateR 0.8s linear infinite;
    }
}


// .img-logo-border {
//     position: relative;
//     width: 64px;
//     height: 64px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 50%;
// 	overflow: hidden;
// 	background-color: #00838f;
// 	background: linear-gradient(#00838f 25%, #00bcd4 50%, #00838f 75%);
	
//     & > span:nth-child(1) {
//         position: absolute;
//         z-index: 2;
//         border-radius: 50%;
//         width: 85%;
//         height: 85%;
// 		overflow: hidden;
// 		background-color: white;
//     }
//     & span:nth-child(2) {
//         position: absolute;
//         width: 100%;
// 		height: 40%;
//             background-color: #ad1457;
//                                     transform: rotateZ(90deg);

//         // animation: rotateR 9s linear infinite;
//     }


// }

